*{
    margin: 0 auto;
}

.body {
    margin: 0;
    background-color: rgb(9, 0, 51);
    height: 100vh;
}

header {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    padding: 12px;
    background-color:rgb(31, 13, 48);
}

h1 {
    padding-bottom: 10px;
    color: white;
    text-align: center;
}
.buttonTask {
    background-color:blanchedalmond;
    border-radius: 4px;
    border: 0;
    margin-left: 8px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:rgb(44, 19, 19);
    padding:3px 10px;
    font-style:italic;
}

.inputTask {
    border: 0;
    padding: 3px 5px;
}

.lista {
    padding-top: 12px;
    padding-left: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color: rgb(167, 149, 149);
}