.container {
  width: 100%;
  min-height: 100vh;
  background-color: rgb(11, 11, 34);
  align-items: center;
  display:flex;
  flex-direction: column;
  padding-top: 120px;
}

.logo {
  max-width: 350px;
}

.title {
  color: white;
  margin: 14px 0px;
}

.category-area {
  display: flex;
  gap: 14px;
  margin-bottom: 40px;
}

.button-mensagem {
  padding: 4px 12px;
  border-radius: 4px;
  cursor: pointer;
}

.button-frase {
  padding: 7px 12px;
  background-color: rgb(33, 135, 168);
  border-radius: 4px;
  color: white;
  border: 0;
  margin-bottom: 18px;
  cursor: pointer;
  font-size: 16px;
}

.texto-frase {
  width: 420px;
  background-color: white;
  padding: 14px 22px;
  border-radius: 4px;
  line-height: 150%;
  text-align: center;
  font-style: italic;
  color: rgb(212, 144, 66);
  overflow: scroll;
}