*{
    margin: 0 auto;
    font-family: sans-serif;
}

body {
    background-color: #22272e;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.container {
    max-width: 720px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 14px;
}

.logo {
    max-width: 227px;
}

.title {
    color: #FFF;
    text-align: center;
    margin: 14px;
}

.form label {
    color: #FFF;
    font-size: 20px;
}

.input {
    width: 100%;
    height: 40px;
    font-size: 20px;
    padding: 0 14px;
    margin-bottom: 16px;
    margin-top: 8px;
}

.button {
    width: 104.5%;
    height: 40px;
    font-size: 20px;
    background-color: #199cea;
    border: 0;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    margin-left: 0px;
    }

    .section {
        color: white;
        margin: 16px;
        text-align: center;
        font-size: 20px;
        background-color: #5c4242;
        width: 105%;
        height: 100px;
        padding: 10px 0px;
        border-radius: 4px;     
        margin-left: 80px;
        margin-right: 50px;
        display: flex;
        flex-direction: column;
        transition: transform 0.8s;
    }

    .section span {
       text-align: center;
       align-items: center;
       justify-content: center;
       display: flex;
    }

    .title-button {
        margin-bottom: 18px;
    }

    .section:hover {
        transform: scale(1.1);
    }